html {
  font-size:16px;
}

body, h1, h2, h3, h4, h5, article {
  font-family: adelle-sans, Helvetica, Arial, sans-serif;
}

h1 {
  font-weight:bold;
  font-size:2.5rem;
}

.title {
  font-size:1.5rem;
  font-weight:100;
  line-height:1;
}

.research {
  text-align:center;
  font-size:1.5rem;
  font-weight:100;
  line-height:1.25;
}

.loc {
  font-size:1rem;
  line-height:1;
  font-weight:100;
  color:#aaaaaa;
}

.top-area {
  margin-top:20px;
  margin-bottom:20px;
}

.area {
  padding-top:20px;
  padding-bottom:20px;
}

.area-2 {
  background-color:#e5e5e5;
}

.area-1 {
  background-color:#f5f5f5;
}

.face {
  width:150px;
  height:150px;
  border-radius:150px;
}

.links {
  font-variant:small-caps;
}

.uk-badge {
  border-radius:10px;
  background-color:#aaaaaa;
}

.uk-badge-danger {
  border-radius:10px;
  background-color:#da314b;
}

.area-2 .uk-badge {
  border-radius:10px;
  background-color:#ffffff;
  color:black;
}

.interests {
  text-align:center;
  margin-bottom:20px;
  line-height:1.6;
}

.uk-badge {
  font-size:0.7rem;
  text-transform:uppercase;
}

.mission {
  text-transform:lowercase;
  font-variant:small-caps;
  font-weight:bold;
}


.section-title {
  font-size:2rem;
  font-weight:bold;
  color:#aaaaaa;
  text-align:center;
}

h2.uk-panel-title {
  font-size:1.5rem;
  min-height:80px;
}

img.icon {
  width:80px;
  margin-bottom:5px;
  margin-right:10px;
  float:left;
}

h2 subtitle {
  font-weight:100;
  font-size:1rem;
  display:block;
  color:#999999;
}

.vimeo {
  width:100%;
}

.links a {
  margin-bottom:3px;
}

.uk-panel {
  padding-bottom:20px;
}

@media screen and (max-width:1250px) {
  .face {
    width:100px;
    height:100px;
  }
}

@media screen and (max-width:1000px) {
  .top-area {
    text-align:center;
  }

  .face {
    float:none;
    display:block;
    position:relative;
    margin:auto;
  }
  
  .about {
    text-align:center;
  }
}

@media screen and (max-width:500px) {
  .top-area {
    text-align:center;
  }

  .face {
    float:none;
    display:block;
    position:relative;
    margin:auto;
  }
  
  .about {
    text-align:center;
  }

  .email {
    float:none;
  }

  
}

.tagline {
  font-weight:300;
}
