
html {
  font-size:12px;
}

a {
  text-decoration:none !important;
}

.pdf {
  display:none;
}

h2.section {
  margin-top:15px;
}

.thumbs {
  height:100px;
}

td {
  padding-bottom:5px;
}

.addresses {
  padding:10px;
  margin-top:10px;
  margin-bottom:20px;
  font-size:1.25rem;
  background-color:#EEEEEE !important;
}

.addresses i {
  color:gray !important;
  text-align:center;
  width:22px;
}
