html {
  font-size:16px;
  line-height:1.2;
}

body, h1, h2, h3, h4, h5, article {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height:1.2;
  margin:0px;
}

.resume {
  max-width:800px;
  padding:40px;
}

h1.title {
  font-size:2.5rem;
  font-weight:600;
  line-height:1.2;
  margin:0px;
}

h2.tagline {
  font-size:1.5rem;
  font-weight:200;
  line-height:1.2;
  margin:0px;
}

h2.section {
  text-transform:uppercase;
  font-size:2rem;
  font-weight:200;
  line-height:1.2;
  margin-top:40px;
  margin-bottom:10px;
}

h3.skill {
  font-weight:600;
  font-size:1.25rem;
}

h3.where {
  font-size:1rem;
  font-weight:400;
  font-style:italic;
  margin-bottom:10px;
}

tr {
  margin-bottom:10px;
}

td {
  vertical-align: top;
  padding-left:30px;
  padding-bottom:10px;  
}

td.left {
  padding-left:0px;
  padding-right:30px;
  margin-right:30px;
  border-right:1px solid lightGray;
  white-space:nowrap;
  min-width:150px;
}

.right {
  margin-top:5px;
  margin-bottom:10px;
  font-size:1.25rem;
}
.addresses {
  padding:10px;
  margin-top:10px;
  margin-bottom:20px;
  font-size:1.25rem;
  background-color:#EEEEEE;
}

.addresses i {
  color:gray;
  text-align:center;
  width:22px;
}

.addresses a {
  margin-right:10px;
}

a {
  color:rgb(80, 80, 80);
  border-bottom:1px solid lightGray;
}

a:hover {
  color:darkGray;
  border-bottom:1px solid darkGray;
  text-decoration:none;
}

li {
  margin-bottom:5px;
}

.thumbs {
  height:120px;
  border:1px solid silver;
  border-radius:4px;
}

.objective {
  display:none;
}
