
html {
  font-size:12px;
}

a {
  text-decoration:none !important;
}

.pdf {
  display:none;
}

h2.section {
  margin-top:15px;
}

.left {
  padding:10px;
}

.right {
  padding:10px;
}
.thumbs {
  height:100px;
}

.gray {
  background:linear-gradient(to top, #E5E5E5, #F5F5F5) !important;
}

.addresses {
  padding:10px;
  margin-top:10px;
  margin-bottom:20px;
  font-size:1.25rem;
}

.addresses i {
  color:gray !important;
  text-align:center;
  width:22px;
}

.thumbs-list {
  display:none;
}
