---
layout: page
title: Blog
icon: edit
---
{% for post in site.posts %}
<article class="post">
    <header class="post-header">
        <p class="post-meta">
            <time datetime="{{ page.date | date_to_xmlschema }}">
                {{ post.date | date: "%b %-d, %Y" }}
            </time>
        </p>
        <h1 class="title"><a href="{{ post.url }}">{{ post.title }}</a></h1>
    </header>

    {% if post.splash %}
    <img src="/img/blog/{{post.splash.src}}" alt="{{post.splash.alt}}">
    {% if post.splash.caption %}
    <div class="caption">{{post.splash.caption}}</div>
    {% endif %}
    {% endif %}

    <p class="excerpt">
    {{ post.excerpt }}
    </p>
    <a class="ui button" href="{{ post.url }}">Continue reading</a>
</article>
<div class="ui divider"></div>
{% endfor %}

<script id="MathJax-script" async
        src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
</script>
