---
layout: page
title: Home
icon: child
permalink: /
---
{% include home/top-blurb.html %}

<div class="ui stackable two column relaxed grid" style="clear:both">
    <div class="column">
        <div class="ui segment">
            <h3 class="header">
                Quick stats
            </h3>
            <div class="ui relaxed list">
            <div class="ui item">
                <i class="top aligned icon">📊</i>
                <div class="content">
                Data Science Leader
                </div>
            </div>
            <div class="item">
                <i class="top aligned icon">🪐</i>
                <div class="content">
                    Astrophysics Ph.D.
                </div>
            </div>
            <div class="item">
                <i class="top aligned icon">🇺🇸</i>
                <div class="content">
                    Living in Portland, Oregon
                </div>
            </div>
            <div class="item">
                <i class="top aligned icon">🇮🇹</i>
                <div class="content">
                Hailing from Modena, Italy
                </div>
            </div>
            </div>
        </div>
        <div class="ui segment">
            <h3 class="header">
                My Interests
            </h3>
            <div class="ui relaxed list">
                <div class="ui item">
                    <i class="top aligned icon">🤖</i>
                    <div class="content">
                        Researching novel ways to apply machine learning algorithms to solve customer challenges;
                        bridging label-poor setups into classification problems;
                        evaluating model performance in highly uncertain domains.
                    </div>
                </div>
                <div class="ui item">
                    <i class="top aligned icon">🛡</i>
                    <div class="content">
                        Usable, explainable, and actionable data science solutions
                        that remove friction from customers' lives.
                    </div>
                </div>
                <div class="ui item">
                    <i class="top aligned icon">📚</i>
                    <div class="content">
                        Learning, mentoring, creating knowledge.
                    </div>
                </div>
                <div class="ui item">
                    <i class="top aligned icon">💅</i>
                    <div class="content">Making delightful, useful, and pretty products.</div>
                </div>
            </div>
        </div>
    </div>

    {% include home/projects.html %}

    </div>
</div>
