<header>
    <nav id="nav" class="ui secondary pointing menu">
            {% for my_page in site.data.sidebar %}
            <a class="page item {% if page.title == my_page.title %}active{% endif %}"
               style="{%if page.title == my_page.title %}background:#{{my_page.color}}{%endif%}"
               href="{% if my_page.external %}{{my_page.url}}{% else %}/{{ my_page.url }}{% endif %}"
               id="{{my_page.id}}">
                {{ my_page.title }}
            </a>
            {% endfor %}
    </nav>
</header>
{% for my_page in site.data.sidebar %}
{% if page.title == my_page.title %}
<style>
    a, a:visited {
        color: #{{ my_page.color }};
    }
    a:hover {
        background: #{{ my_page.color }}22;
        text-decoration: none;
        padding-left: 3px;
        margin-left: -3px;
        padding-right: 3px;
        margin-right: -3px;
        border-radius: 3px;
    }

    .ui.button:hover {
        background-color: #{{my_page.color}}44;
    }
</style>
{% endif %}
{% endfor %}
