<nav id="nav" class="ui main menu">
    <div class="ui text container">
        <span></span>
        {% for my_page in site.data.sidebar %}
        <a class="page item {{my_page.id}}"
            href="{% if my_page.external %}{{my_page.url}}{% else %}/{{ my_page.url }}{% endif %}">
            {{ my_page.title }}
        </a>
        {% endfor %}
        <span></span>
    </div>
</nav>

{% for my_page in site.data.sidebar %}
{% if page.title == my_page.title or (my_page.id == "blog" and page.category) %}
<style>
    a, a:visited {
        color: #{{ my_page.color }};
    }
    a:hover {
        background: #{{ my_page.color }}22;
        text-decoration: none;
        padding-left: 3px;
        margin-left: -3px;
        padding-right: 3px;
        margin-right: -3px;
        border-radius: 3px;
    }

    .ui.button:hover {
        background-color: #{{my_page.color}}44;
    }

    #nav a.{{my_page.id}}.page {
        background:#{{my_page.color}}ee;
    }
    #nav a.{{my_page.id}}.page.item:hover {
        background:#{{my_page.color}}aa;
    }
</style>
{% endif %}
{% endfor %}
