<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Stefano Meschiari — {% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  <meta property="og:type" content="{% if page.thumbnail %}article{% else %}website{% endif %}">
  <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <meta property="og:image" content="{% if page.thumbnail %}{{ page.thumbnail }}{% else %}http://www.stefanom.io/img/stefano.jpg{% endif %}">
  <meta name="google-site-verification" content="QsBlz5VRu-Ey-cC4xjPU9Fts_iuunkzWCZABJzYhlN4" />

  <link rel="stylesheet" href="/public/semantic/semantic.min.css">
  <link rel="stylesheet" href="/public/semantic/components/accordion.min.css">
  <link rel="stylesheet" href="/public/semantic/components/sidebar.min.css">
  <link rel="stylesheet" href="/public/semantic/components/popup.min.css">
  <link rel="stylesheet" href="/css/main.css">
  <script type="text/javascript" src="/public/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="/public/semantic/semantic.min.js"></script>

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link
    href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@100;300;400;700;900&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap"
    rel="stylesheet">
  <script>
    $(document).ready(function() {
     $('.main.menu').visibility({
        type: 'fixed'
      });
    })
    window.MathJax = {
      tex: {
        inlineMath: [['$', '$'], ['\\(', '\\)']]
      }
    };
  </script>
  <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-47960829-8"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-47960829-8');
</script>

</head>
