$accent: $peterRiver;
$divider: #e5e3e3;
$accent-gradient: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2)), linear-gradient(to right, $belizeHole, #69d2e7);
$accent-gradient-small: linear-gradient(to right, $belizeHole, $peterRiver);
$accent-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
$accent-shadow-small: 0px 2px 3px rgba(0, 0, 0, 0.2);

a, a:visited {
  color: $accent;
}

#menu {
  margin-left: 15px;
  margin-top: 15px;
  display: none;
}

#nav {
  background: $accent-gradient;
  padding: 4px;
  
  a {
    color: rgba(255, 255, 255, 0.8);
    margin: 2px;
    border: none;
  }

  a.active {
    color: white;
    border: none;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: $accent-shadow;
  }

  a:hover {
    border: none;
    box-shadow: $accent-shadow;
    background: rgba(255, 255, 255, 0.1);
  }
}

@include small() {
  #menu {
    display: inline-block;
  }

  .summary {
    text-align: center;

    .image {
      display: inline !important;
      margin-right: 0px !important;
      float: initial !important;
    }

    #social-links {
      text-align: center;
      float: initial;
      margin-bottom: 1rem;
    }

    p {
      text-align: initial;
    }
  }
  
  #nav {
    display: none;
  }
}

.summary {
  margin-bottom: 3rem;
}

.header, h1, h2, h3, h4, h5, h6 {
  font-family: 'PT Sans Caption';
}

.projects {
  a.links {
    margin-top:1rem;
    text-transform:uppercase;
  }
  
  .app-icon {
    float: left;
    width: 80px;
    margin-right: 0.8rem;
    margin-bottom: 0.5rem;
  }
  
  .thumbnail {
    max-width: 40%;
    margin-left: 1rem;
    margin-bottom: 1rem;
  }

  .badge {
    margin: 2px;
    padding: 2px;
    background:#eee;
    font-size:0.8rem;
    color: #444;
    padding-left: 8px;
    padding-right: 8px;
    display: inline-block;
    text-transform: uppercase;
  }
}
  
h1.name {
  text-transform: uppercase;
  font-weight:bold;
  font-size: 1.5rem;
  margin-bottom: 0;
}

h2.subtitle {
  font-family: 'PT Sans';
  color: #969896;
  font-size:1.2rem;
  margin-bottom:0.5rem;
}

h3.header {
  color: $asbestos;
  text-transform:uppercase;
  font-size:1rem;
  padding-top:4px;
  padding-bottom:2px;
  margin-bottom:1rem;
}

.float-right {
  float:right;
}

.more {
  background: $accent-gradient-small;
  border:none;
  display: inline-block;
  margin: 2px;
  color: rgba(255, 255, 255, 0.9);
  padding:6px;
  padding-left:12px;
  padding-right:12px;
  margin-right: 6px;
  font-size:1rem;
  text-transform:uppercase;
  border-radius: 2px;
  
  i.icon {
    width: initial;
    margin:0;
  }
}

.more:hover {
  color: white;
  box-shadow: $accent-shadow-small;
  text-decoration: none;
}

.more:visited {
  color:white;
}

.more.secondary {
  background: $clouds;
  color: $wetAsphalt;
  text-transform: initial;
}

hr {
  background-color: $divider;
  border:none;
  height:1px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

hr.line {
  margin-top:0px;
  margin-bottom:10px;
}

p.item {
  margin-bottom:0.4rem;
}

.column .section {
  margin-top:2rem;
}

.dev i {
  font-size:2.5rem;
  margin-right:1rem;
}

.dev img {
  margin-right:1rem;
  height: 2.5rem;  
}


#resume {
  position: relative;

  .links a {
    background: $clouds;
    padding: 6px;
    padding-left: 12px;
    padding-right: 12px;
    color: black;
    display: inline-block;
    margin: 3px;
  }

  .links a:hover {
    text-decoration: none;
    background: $accent-gradient-small;
    color: white;
  }
  
  h3 {
    font-weight: 200;
    font-size: 1.25rem;
    border-bottom: 1px solid $divider;
  }

  h4 {
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    color: $asbestos;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 0.5rem;
    
    em {
      position: absolute;
      right: 2rem;
      font-weight: initial;
      text-transform: none;
    }

    @include small() {
      em {
        position: initial;
        display: block;
      }
    }
  }

  ul {
    padding: 1rem;
    background: rgb(240, 240, 240);
    padding-left: 2rem;
    margin: 0px;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;

    ul {
      padding: 0px;
      margin: 0px;
      margin-left: 1rem;
    }
  }
}

#research {
  img {
    float: right;
    margin-left: 1rem;
    margin-bottom: 1rem;
    border-radius: 3px;
    clear: both;
    max-width: 40%;
    box-shadow: $accent-shadow;
  }

  .hero {
    float: initial;
    margin: 0px;
    border-radius: 3px;
    max-width: 100%;
    box-shadow: $accent-shadow;
  }
}
