<div class="ui segment summary">
    <div class="float-right" id="social-links">
        <a class="ui button compact big circular icon" title="Email me" href="mailto:{{ site.data.env.email }}" target="_new">
            <i class="mail outline icon"></i>
        </a>

        <a class="ui button compact big circular icon" title="GitHub" href="https://github.com/stefano-meschiari" target="_new">
            <i class="github icon"></i>
        </a>

        <a class="ui button compact big circular icon" href="https://twitter.com/{{ site.data.env.twitter }}" title="Tweet @StefanoWithAnF" target="_new">
            <i class="twitter icon"></i>
        </a>

        <a class="ui button compact big circular icon" title="Linkedin" href="https://www.linkedin.com/in/stefano-meschiari-46966242/" target="_new">
            <i class="linkedin icon"></i>
        </a>
    </div>
    <h1 class="name">Stefano Meschiari, Ph.D.</h1>
    <h2 class="subtitle">Data Scientist, Stripe</h2>
    <hr class="rainbow-divider"></hr>

    <div class="ui grid">
        <div class="column twelve wide">
        <p>Hello! I am a Data Scientist passionate about creating practical data science solutions
            that are useful, transparent, and scalable. I'm currently a Fraud Data Scientist at Stripe.

        <p>Previously, I was a Technical Lead at <a href="https://duo.com" target="_blank">Duo Security</a> (Cisco),
            where I led the development of <a href=https://duo.com/blog/duo-trust-monitor-is-here-to-make-risk-detection-easy">
            Duo Trust Monitor</a>.

        <p>I am also a maker of <a href="projects">open-source scientific tools and games</a> (in various states of
            un-maintenance), an advocate for open data, reproducible research, and citizen science,
            and avid learner of all things technology. I love creating and sharing knowledge.</p>
        <p>In my past life as an <a href="research">astrophysicist</a>, I discovered new planets and worked on understanding how Tatooine-like
            planets (planets orbiting binary stars) formed.</p>
        <a href="/resume" class="ui circular compact button">
            Resume
            <i class="angle right icon"></i>
        </a>
        <a href="/research" class="ui circular compact button">
            Research and Outreach
            <i class="angle right icon"></i>
        </a>
        <a href="/blog" class="ui circular compact button">
            Blog
            <i class="angle right icon"></i>
        </a>
        </div>
        <div class="column four wide">
            <img src="img/stefano.jpg" style="width:100%">
        </div>

    </div>
</div>
